.container{
  	width: 740px;
    margin: auto;
    border-bottom: 5px;
}

.main-header{
	height: 100px;
    color:#fff;
    background:royalblue;
}

.main-content{
	padding: 20px;
	background: lightgray;
}

.main-footer{
	height:100px;
	color: #FFF;
	background: #222;
}

.base{
	padding-top: 50px;
	color: #fff;
	text-align: center;
	font-size: 24px;
}
