.container{
width: 960px;
margin: 0 auto;
background: #808080;
border: 5px dotted #FF0000;


}

.main-header{
	height: 100px;
	background-color: #0000ff;
	padding: 20px;


}
.main-header .navigation{
 width: 100%;
}
.main-header .navigation ul{
	list-style: none; /*this removes dots*/

}
.main-header .navigation ul li{
	float: left;
	display: inline-block;
}
.main-header .navigation ul li a {
	padding: 0 15px;
	line-height: 40px;
	color: #fff;
	text-decoration: none;
}
.main-header .navigation ul li a:hover {
	background-color: pink;
	color: green;
	text-decoration: underline;


}
.main-content{
	min-height: 500px;


}

.main-footer{
height: 50px;
background-color: #0000ff;

}