.container{
  	width: 740px;
    margin: auto;
}
.top-header{
height:200px;
color:#000000;

}

.main-header{
	height: 100px;
    color:#fff;
    background:#FF99CC;
}

.main-content{
	padding: 200px;
	background: #FFFFFF;
}

.main-footer{
	height:100px;
	color: #FFF;
	background: #222;
}

.base{
	padding-top: 50px;
	color: #fff;
	text-align: center;
	font-size: 24px;
}

.sidebar{
     

}

.box {
  width: 200px;
  height: 100px;
  background-color: #333;
  color: #fff;
  border-radius: 15px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  float: left;
}

.box-green{
  background-color: green;
}

.box-blue{
  background-color: blue;
}

.box-red {
  background-color: red;
}

.box img {
  position: absolute;
  top: 20px;
}

.box h4, .box p {
  margin-top: 0;
  margin-left: 60px;
}

.box p {
  font-size: 12px;
}

.box h4 {
  margin-bottom: 10px;
}
